@model IEnumerable<HobbyLobbyMVC.Models.Store>

@{
    ViewBag.Title = "Stores";
}

<h2>All Stores</h2>

<div class="col-md-4">
    <p><a class="btn btn-secondary" href="https://localhost:44327/requests/Create">Create a new pickup request &raquo;</a></p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.StoreNumber })
            </td>
        </tr>
    }

</table>
